# Set bluetooth power up
ACTION=="add", KERNEL=="hci0", RUN+="/usr/bin/hciconfig %k up ; /usr/bin/hciconfig %k piscan ; /usr/bin/hciconfig %k name Recalbox"
