image: docker:latest

stages:
  - purge
  - build
  - release
  - deploy
  - clean

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  RECALBOX_MAIN_VERSION: 4.1.0
  STACK_NAME: archive
  IMAGE: recalbox/archive

.build_template: &build_definition
  stage: build
  script:
    - tar cvzf recalbox-emulationstation2-${ARCH}.tar.gz -C recalbox-emulationstation/ . > /dev/null
    - docker run --rm -e "ARCH=${ARCH}" -v `pwd`:/work -v /recalbox-builds/dl:/share/dl ubuntu:16.04 bash -c 'rm -rf /share/dl/recalbox-emulationstation2-${ARCH}.tar.gz && cp /work/recalbox-emulationstation2-${ARCH}.tar.gz /share/dl/recalbox-emulationstation2-${ARCH}.tar.gz'
    - sed -i "s/^RECALBOX_EMULATIONSTATION2_VERSION.*/RECALBOX_EMULATIONSTATION2_VERSION = ${ARCH}/" package/recalbox-emulationstation2/recalbox-emulationstation2.mk
    - export RECALBOX_VERSION=${CI_COMMIT_TAG:-${RECALBOX_MAIN_VERSION}-${CI_COMMIT_REF_SLUG}-${ARCH}-$(date +%Y-%m-%d-%H-%M-%S)-${CI_BUILD_ID}}
    - docker build -t recalbox-${ARCH} .
    - docker run --rm -v `pwd`:/work -v /recalbox-builds/dl:/share/dl -v /recalbox-builds/hosts/host-${ARCH}:/share/host -v /recalbox-builds/ccaches/ccache-${ARCH}:/share/ccache -e "ARCH=$ARCH" -e "RECALBOX_VERSION_LABEL=$RECALBOX_VERSION" -e "RECALBOX_CCACHE_DIR=/share/ccache" recalbox-${ARCH} 2>&1 | tee build.log | grep '>>>' || tac build.log | grep '>>>' -m 1 -B 9999 | tac
    - mkdir -p updates/dist/${ARCH}
    - touch updates/dist/${ARCH}/file
    - cp output/images/recalbox/* updates/dist/${ARCH}
    - rm -rf output/
    - for file in `ls updates/dist/${ARCH}/`;do sha1sum updates/dist/${ARCH}/${file} > updates/dist/${ARCH}/${file}.sha1; done
    - tar tf updates/dist/${ARCH}/root.tar.xz | sort > updates/dist/${ARCH}/root.list
    - echo "$RECALBOX_VERSION" >> updates/dist/${ARCH}/recalbox.version
    - cp CHANGELOG.md updates/dist/${ARCH}/recalbox.changelog
  artifacts:
    name: dist-${ARCH}-${CI_BUILD_ID}
    when: always
    paths:
      - updates/dist/${ARCH}
      - build.log
    expire_in: 2 mos

build rpi1:
  <<: *build_definition
  only:
    - master
    - tags
  variables:
    ARCH: 'rpi1'
build rpi2:
  <<: *build_definition
  only:
    - master
    - tags
  variables:
    ARCH: 'rpi2'
build rpi3:
  <<: *build_definition
  only:
    - master
    - tags
  variables:
    ARCH: 'rpi3'
build x86_64:
  <<: *build_definition
  only:
    - master
    - tags
  variables:
    ARCH: 'x86_64'
build x86:
  <<: *build_definition
  only:
    - master
    - tags
  variables:
    ARCH: 'x86'
build odroidc2:
  <<: *build_definition
  only:
    - master
    - tags
  variables:
    ARCH: 'odroidc2'
build odroidxu4:
  <<: *build_definition
  only:
    - master
    - tags
  variables:
    ARCH: 'odroidxu4'

build rpi1 for test:
  <<: *build_definition
  when: manual
  only:
    - branches
  except:
    - master
  variables:
    ARCH: 'rpi1'
build rpi2 for test:
  <<: *build_definition
  when: manual
  only:
    - branches
  except:
    - master
  variables:
    ARCH: 'rpi2'
build rpi3 for test:
  <<: *build_definition
  when: manual
  only:
    - branches
  except:
    - master
  variables:
    ARCH: 'rpi3'
build x86_64 for test:
  <<: *build_definition
  when: manual
  only:
    - branches
  except:
    - master
  variables:
    ARCH: 'x86_64'
build x86 for test:
  <<: *build_definition
  when: manual
  only:
    - branches
  except:
    - master
  variables:
    ARCH: 'x86'
build odroidc2 for test:
  <<: *build_definition
  when: manual
  only:
    - branches
  except:
    - master
  variables:
    ARCH: 'odroidc2'
build odroidxu4 for test:
  <<: *build_definition
  when: manual
  only:
    - branches
  except:
    - master
  variables:
    ARCH: 'odroidxu4'


### Release
.release_template: &release_definition
  stage: release
  variables:
    ARCHIVE_IMAGE: the image to build
    RANCHER_DIRECTORY: type of the deployment (master, review)
  script:
    - echo "Creating image $ARCHIVE_IMAGE"
    - env | grep "CI_\|GITLAB" > envfile && cat "updates/${RANCHER_DIRECTORY}.template.html" | docker run --rm --env-file envfile -i loicmahieu/alpine-envsubst > updates/dist/index.html
    - test -n "$SKIP_IMAGES" && rm -rf updates/dist/*/*.img*
    - cd updates
    - docker build -t $ARCHIVE_IMAGE .
    - docker login -u "${DOCKER_IO_LOGIN}" -p "${DOCKER_IO_PASSWORD}"
    - docker push $ARCHIVE_IMAGE

release master:
  <<: *release_definition
  variables:
    ARCHIVE_IMAGE: "${IMAGE}:unstable"
    RANCHER_DIRECTORY: master
    SKIP_IMAGES: 'false'
  only:
  - master

release review:
  <<: *release_definition
  when: manual
  variables:
    ARCHIVE_IMAGE: ${IMAGE}:${CI_COMMIT_REF_SLUG}
    RANCHER_DIRECTORY: review
    SKIP_IMAGES: 'true'
  except:
    - master


### Deploy
purge master:
  stage: purge
  only:
    - master
  image: registry.gitlab.com/recalbox/ops/rancher-cli:0.6.2
  script:
    - echo cleaning master old deployments
    - rancher rm $(rancher ps | grep "${STACK_NAME}/master-" | awk '{print $1}'

.deploy_template: &deploy_definition
  stage: deploy
  image: registry.gitlab.com/recalbox/ops/rancher-cli:0.6.2
  dependencies: []
  variables:
    ARCHIVE_IMAGE: image to deploy
    ARCHIVE_FQDN: fqdn of the service
    SERVICENAME: the rancher directory to use
    RANCHER_DIRECTORY: the rancher directory to use
  script:
    - echo "Deploying image ${ARCHIVE_IMAGE} on ${STACK_NAME}/${SERVICENAME}"
    - cd updates/rancher/${RANCHER_DIRECTORY}
    - sed "s/RANCHER_SERVICENAME:/${SERVICENAME}:/" -i docker-compose.yml rancher-compose.yml
    - rancher up -s $STACK_NAME -u --force-upgrade -d

deploy master:
  <<: *deploy_definition
  variables:
    ARCHIVE_IMAGE: ${IMAGE}:${CI_COMMIT_REF_SLUG}
    ARCHIVE_FQDN: master-${CI_PIPELINE_ID}-${STACK_NAME}-prod.recalbox.com
    SERVICENAME: master-${CI_PIPELINE_ID}
    RANCHER_DIRECTORY: master
  only:
    - master
  environment:
    name: master
    url: https://master-${CI_PIPELINE_ID}-${STACK_NAME}-prod.recalbox.com/

deploy review:
  <<: *deploy_definition
  when: manual
  variables:
    ARCHIVE_IMAGE: ${IMAGE}:${CI_COMMIT_REF_SLUG}
    ARCHIVE_FQDN: ${CI_ENVIRONMENT_SLUG}-${STACK_NAME}-prod.recalbox.com
    SERVICENAME: ${CI_ENVIRONMENT_SLUG}
    RANCHER_DIRECTORY: review
  except:
    - master
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    url: https://${CI_ENVIRONMENT_SLUG}-${STACK_NAME}-prod.recalbox.com/
    on_stop: clean review

clean review:
  stage: clean
  when: manual
  dependencies: []
  only:
    - branches
    - tags
  except:
    - master
  script:
    - echo "cleaning ${ARCHIVE_IMAGE} from ${STACK_NAME}/${SERVICENAME}"
    - rancher rm ${STACK_NAME}/${CI_ENVIRONMENT_SLUG}
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    action: stop
